*.pdf
*.synctex.gz
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pyc
time_seed.dat
tp
__pycache__
save_var.py
plot_graph.py
*.npy
CFinder*/
*.err
OSLOM2/
logs/
tmp
master-list*.json
node2vec
biochem/compound*
biochem/*.lst
biochem/*.pkl
biochem/reaction
*.npz
kegg/

